<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="de.semart.sprigcourse"/>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>
   <!-- <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicRapBean"
          class="de.semart.sprigcourse.RapMusic"
          init-method="beanInit"
          destroy-method="beanDestroy"
    >
    </bean>
    <bean id="musicRockBean"
          class="de.semart.sprigcourse.RockMusic">
    </bean>
    <bean id="musicClassicalBean"
          class="de.semart.sprigcourse.ClassicalMusic"
          factory-method="getClassicalMusic"
    >
    </bean>
    <bean id="musicPlayer"
          class="de.semart.sprigcourse.MusicPlayer"
          init-method="beanInit"
          destroy-method="beanDestroy"
    scope="prototype">
        <property name="music" ref="musicRapBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList">
            <list>
                <ref bean="musicClassicalBean"/>
                <ref bean="musicRapBean"/>
                <ref bean="musicRockBean"/>
            </list>
        </property>

    </bean>
    -->

</beans>